<p>
  bind works!
</p>
<!--<button (click)="doOnClick($event)">click me</button>-->
<!--<img [src]="imgUrl">-->
<!--<img src="{{imgUrl}}">-->
<!--<input value="Tom" (input)="doOnInput($event)">-->
<!--<button disabled="false">try me</button>-->
<!--<table>-->
  <!--<tr><td [attr.colspan]="size">Hello</td></tr>-->
<!--</table>-->

<!--<div [class]="divClass">Hello Carrot</div>-->
<!--<div class="a b" [class.c]="isBig">font-size</div>-->
<!--<div [ngClass]="divMultiClass">Multi Class</div>-->

<!--<div [style.color]="isDev?'red':'blue'">Style</div>-->
<!--<div [style.font-size.em]="isDev?3:1">Font-size</div>-->
<!--<div [ngStyle]="divStyle">Multi Style</div>-->

<!--<input [value]="name" (input)="doInput($event)">-->
<!--<input [(ngModel)]="name">-->
<!--{{name}}-->

<p>my birthday is {{birthday | date:'yyyy-MM-dd HH:mm:ss'}}</p>
<p>try my pipe {{size | multiple:3}}</p>
